html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  text-align: center;
  padding: 0;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 55px;
  padding: 15px;
}

.App-header {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  justify-items: end;
  align-items: start;
  background-color: #000;
  /* height: 100px; */
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: #aaf;
}
.App-title-description {
  padding-top: 53px;
  color: #ddd;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.app__main__courtDescription {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: left;
}
.app__main__matrix {
  display: grid;
  padding: 20px;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.app__main__court__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  box-shadow: 0px -2px 20px #aaa, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 0px #444;
  border-radius: 25px;
  border: 1px solid #aaa;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
}

.running {
  background-color: #80f711;
  color: white;
}

.onHold {
  background-color: #db6600;
  color: white;
}

.finished {
  background-color: #888;
  color: #ccc;
}

.App-footer {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.App-footer__time {
  color: white;
  padding-right: 15px;
}

.App-footer__copyright {
  color: white;
}
